*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#edb2e9;
color:#333;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
padding:20px 80px;
background:rgb(226, 168, 210);
box-shadow:0 4px 10px rgba(0,0,0,0.08);
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
}

nav a{
text-decoration:none;
color:#333;
}

/* SECTIONS */

section{
padding:80px 100px;
}

/* HERO */

.hero-content{
max-width:700px;
}

.hero-content span{
color:#1565c0;
}

.cta{
margin-top:20px;
}

.btn{
padding:12px 22px;
border-radius:8px;
text-decoration:none;
margin-right:10px;
}

.primary{background:#1565c0;color:rgb(144, 154, 246);}
.secondary{background:#333;color:rgb(136, 133, 231);}
.outline{border:2px solid #1565c0;color:#1565c0;}

/* ABOUT */

.about-container{
display:flex;
align-items:center;
gap:60px;
}

.about-image img{
width:300px;
border-radius:15px;
box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:25px;
margin-top:40px;
}

.skill-box{
background:rgb(135, 158, 232);
padding:25px;
text-align:center;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:.3s;
}

.skill-box i{
font-size:45px;
margin-bottom:10px;
}

.skill-box:hover{
transform:translateY(-8px);
}

/* PROJECTS */

.project-container{
display:flex;
flex-direction:column;
gap:25px;
}

.project-card{
background:rgb(169, 142, 244);
padding:30px;
border-radius:12px;
cursor:pointer;
box-shadow:0 6px 18px rgba(0,0,0,0.1);
transition:.3s;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 15px 35px rgba(0,0,0,0.2);
}

/* CONTACT */

#contact{
text-align:center;
}

/* FOOTER */

footer{
background:#1565c0;
color:rgb(147, 138, 243);
text-align:center;
padding:20px;
margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:900px){

.about-container{
flex-direction:column;
text-align:center;
}

header{
flex-direction:column;
gap:10px;
}

section{
padding:60px 20px;
}

}